@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.background__video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;

}

#intro {
  margin: 32px 64px;
  z-index: 100;
  height: 100vh;
  position: relative;
}


.logo {
  width: 100px;
  z-index: 1000;
  padding: 12px;
   width: 100px;
  padding: 10px;

  border-radius: 16px;

  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);

  border: 1px solid rgba(255,255,255,0.25);

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.6),
    0 8px 24px rgba(0,0,0,0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}
.logo__act {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right__section {
  display: flex;
  padding: 12px;
  padding: 10px;

  border-radius: 16px;

  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);

  border: 1px solid rgba(255,255,255,0.25);

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.6),
    0 8px 24px rgba(0,0,0,0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.right__section h1:not(:last-child) {
  margin-right: 48px;
}

.introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro__title {
  font-size: 100px;
  color: white;
}

.left {
  max-width: 800px;
   margin-right: 24px;
}

.intro__para {
  font-size: 24px;
  padding: 12px;
  color: white;
  border-radius: 12px;
  text-align: left;
  max-width: 600px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);

  border: 1px solid rgba(255,255,255,0.25);

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.6),
    0 8px 24px rgba(0,0,0,0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.picture__frame {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 12px;
  margin-right: 36px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);

  border: 1px solid rgba(255,255,255,0.25);

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.6),
    0 8px 24px rgba(0,0,0,0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.picture__wrapper {
  width: 300px;
  height: 300px;
}

.picture__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  overflow: hidden;
}

.links__top {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 24px;
}

.link__top {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 12px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);

  border: 1px solid rgba(255,255,255,0.25);

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.6),
    0 8px 24px rgba(0,0,0,0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.link__top:not(:last-child) {
  margin-right: 12px;
}

.link__icon {
  color: white;
  font-size: 32px;
}

.right__section h1 {
  color: white;
  cursor: pointer;
}

.right__section-h1 {
  color: white;
  cursor: pointer;
  margin-right: 48px;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255,255,255,0.25),
    rgba(255,255,255,0.05)
  );

  backdrop-filter: blur(30px) saturate(200%);
  border-radius: 24px;

  border: 1px solid rgba(255,255,255,0.3);

  box-shadow:
    inset 0 1px 1px rgba(255,255,255,0.6),
    0 10px 40px rgba(0,0,0,0.25);
}

#tech-stack {
 background: rgba(255,255,255,0.15);
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);

  border: 1px solid rgba(255,255,255,0.25);

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.6),
    0 8px 24px rgba(0,0,0,0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

#projects {
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);

  border: 1px solid rgba(255,255,255,0.25);

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.6),
    0 8px 24px rgba(0,0,0,0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Footer {
  height: 150px;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__content {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);

  border: 1px solid rgba(255,255,255,0.25);

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.6),
    0 8px 24px rgba(0,0,0,0.2);
    width: 95%;
    height: 80px;
    border-radius: 12px;
}

.project__description--links {
  display: flex;
}

.footer__links {
  display: flex;
}

.footer__logo {
  width: 100px;
}

.projects__title {
  margin: 24px 0px;
  font-size: 36px;
  color: white;
  padding: 6px 12px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);

  border: 1px solid rgba(255,255,255,0.25);

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.6),
    0 8px 24px rgba(0,0,0,0.2);
    border-radius: 12px;
}




#backToTop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.toTop__title {
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 12px;
  color: white;
   background: rgba(255,255,255,0.15);
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);

  border: 1px solid rgba(255,255,255,0.25);

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.6),
    0 8px 24px rgba(0,0,0,0.2);
}

.project {
    margin-bottom: 40px;
}

.project__img {
  width: 100%;
  height: auto;
  transition: all 450ms ease;
  display: block;
}

.project__wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
    overflow: hidden;
}

.project__wrapper:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__wrapper:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
    color: white;
    max-width: 550px;
}

.project__wrapper:hover .project__wrapper--bg {
    opacity: 0.7;
}

.project__list {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 450ms ease;
}

.project__description--title {
    font-size: 40px;
}

.project__description--sub-title {
    margin-top: 8px;
}

.project__description--link {
    color: white;
    font-size: 20px;
    margin-right: 16px;
}

.project__description--para {
    margin: 16px 0;
}

.container {
padding: 50px 0;
width: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

.frame-2 {
  display: none;
}

.scroll {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__icon:after {
    content: "";
    width: 4px;
    height: 6px;
    background-color: #fff;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}

.footer__copyright,
.footer__link {
  color: white;
  font-size: 18px;
}

.footer__link:not(:last-child) {
  margin-right: 36px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
}

.left__open,
.right__open {
transform: translate(0%) !important;
}

.modal__left {
  position: relative;
  padding: 28px 24px;
  height: 600px;
  width: 400px;
  transform: translate(-110%);
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);

  border: 1px solid rgba(255,255,255,0.25);

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.6),
    0 8px 24px rgba(0,0,0,0.2);
  z-index: 1000;
  transition: transform 300ms ease-in;
}

.close {
  position: absolute;
  top: 2%;
  right: 5%;
  color: white;
  font-size: 36px;
}

.left__title {
  font-size: 32px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 6px;
}

.left__desc {
  font-size: 16px;
  color: #ebeded;
  font-weight: 600;
  margin-bottom: 20px;
}

.one {
  margin-bottom: 24px;
}

.left__para {
  color: white;
  font-weight: 300;
}

.modal__right{
  position: relative;
  padding: 24px;
  height: 600px;
  width: 400px;
  transform: translate(110%);
  background: rgba(10, 25, 50, 0.4);
backdrop-filter: blur(18px) saturate(180%);
-webkit-backdrop-filter: blur(18px) saturate(180%);

border: 1px solid rgba(20, 50, 100, 0.4); 

box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.1), 
    0 8px 24px rgba(0, 0, 20, 0.6); 
  z-index: 1000;
  transition: transform 300ms ease-in;
}

.success__part {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkmark__icon {
  font-size: 64px;
  color: rgb(8, 160, 8);
  margin-bottom: 12px;
}

.success__message {
  font-size: 22px;
  color: white;
  font-weight: 100;
  text-align: center;
}

.form__item {
    margin-bottom: 20px;
}

.loading__icon {
  font-size: 64px;
  color: white;
  animation: swirls 1000ms infinite;
}

.loading__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes swirls {
  from {
    transform: rotate(0deg)
  }
  to {
transform: rotate(360deg)
  }
}

.form__submit {
     background: rgba(255,255,255,0.15);
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);

  border: 1px solid rgba(255,255,255,0.25);

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.6),
    0 8px 24px rgba(0,0,0,0.2);
    color: white;
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    font-size: 20px;
    transition: all 300ms ease;
    border-radius: 12px;
}

.form__submit:hover {
    border-color: #fff;
    background-color: transparent;
}

.form__submit:active {
    border-color: #0b254a;
    color: #0b254a;
}

.right__title {
  margin-top: 36px;
  color: white;
  font-size: 28px;
  font-weight: 700;
}
.click {
    transition: all 300ms ease;
    cursor: pointer;
}

.click:hover {
    transform: scale(1.1) !important;
}

.click:active {
    transform: scale(0.8) !important;
}

.here {
  margin-bottom: 12px;
}

.right__para {
  color: white;
  font-weight: 300;
  margin-bottom: 36px;
}



.input, 
.textarea
 {
    width: 100%;
    background-color: transparent;
    color: #fff;
    outline: none;
    border: 3px solid #c0c4cc;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 40px;
    transition: all 300ms ease;
 }

.visible {
  display: none !important;
  transition: all 600ms 800ms;
}

.two {
  margin-bottom: 12px;
}

.modal__languages {
    display: flex;
    flex-wrap: wrap;
}

.modal__language {
    width: 25%;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;
}

.modal__language:hover .language__name {
    transform: scale(1);
}

.modal__language:hover {
    filter: brightness(80%);
    transform: scale(0.9);
}

.language__name {
    position: absolute;
    bottom: -10px;
    transform: scale(0);
    color: #fff;
    transition: all 300ms ease;
}

.modal__language--img {
    width: 100%;
}

.mail__btn {
    width: 80px;
    height: 80px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
      background: rgba(10, 25, 50, 0.4);
backdrop-filter: blur(18px) saturate(180%);
-webkit-backdrop-filter: blur(18px) saturate(180%);

border: 1px solid rgba(20, 50, 100, 0.4); 

box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.1), 
    0 8px 24px rgba(0, 0, 20, 0.6); 
    color: white;
    position: absolute;
    bottom: 50px;
    right: 40px;
}

.close-2 {
  display: none;
}

@media( max-width: 740px) {
  .mail__btn {
    right: 10px;
  }
}

@media (max-width: 545px) {
  .mail__btn {
    width: 60px;
    height: 60px;
  }
  .mail {
    font-size: 40px;
  }
}

.mail {
  font-size: 60px;
  animation: effect 1000ms ease infinite alternate-reverse;
}

@keyframes effect {
  from {
    transform: scale(1.05);
  }
  to {
transform: scale(0.8);
  }
}

@media (max-width: 1260px) {
.picture__wrapper {
  width: 200px;
  height: 200px;
}
}

@media (max-width: 1126px) {
  .intro__para {
  font-size: 18px;}
}

@media (max-width: 1000px) {
  .project__list {
    max-width: 700px;
  }
}

@media (max-width: 941px) {
  .left{
    max-width: 400px;
  }
  .intro__title {
    font-size: 80px;
  }
}

@media (max-width: 834px) {
  .footer__link:not(:last-child) {
    margin-right: 20px;
  }
 .modal {
  top: unset;
  left: unset;
  transform: unset;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
 }
 .modal__left,
 .modal__right {
  height: unset;
  width: 100%;
 }
 .right__title {
  margin-top: 0px;
 }
 .modal__language {
width: 70px;
height: 70px;
 }
 .close {
  display: none;
 }
 .close-2 {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  font-size: 36px;
 }
}

@media (max-width: 608px) {
  .left__para {
    font-size: 12px;
  }
}

@media (max-width: 796px) {
  .introduction {
    flex-direction: column;
  }
  .left{
    max-width: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .intro__para {
    text-align: center;
  }
  .frame-1 {
    display: none;
  }
  .frame-2 {
    display: flex;
  }
  .intro__title {
    text-align: center;
  }
  .picture__frame {
    margin-right: 0px;
    width: 300px;
    margin-bottom: 24px;
  }
  .scroll {
    display: none;
  }
}

@media (max-width: 740px) {
   .footer__link:not(:last-child) {
    display: none;
  }
}

@media (max-width: 724px) {
  .project__list {
    max-width: 600px;
  }
  .project__description--para {
    font-size: 14px;
    max-width: 400px;
  }
}

@media (max-width: 721px) {
  .intro__title {
    font-size: 60px;
  }
}

@media (max-width: 670px) {
  .project__list {
    max-width: 450px;
  }
  .project__description--para {
    display: none;
  }
  .project__description--title {
    font-size: 36px;
  }

  .project__description {
    left: 50px;
  }
  .project__description--sub-title {
    margin-bottom: 8px;
  }
  .projects__title {
    font-size: 28px;
  }
  .intro__para {
    font-size: 16px;
  }
}

@media (max-width: 627px) {
  .right__section h1 {
    display: none;
  }
  .right__section-h1 {
    margin-right: 0px;
  }
  .picture__wrapper {
    height: 100px;
    width: 100px;
  }
  .picture__frame {
    width: 200px;
  }
}

@media (max-width: 540px) {
  .intro__para {
    font-size: 13px;
  }
   .footer__link {
    display: none;
  }
}



@media (max-width: 496px) {
  .project__list {
    max-width: 350px;
  }
  .project__description--title {
    font-size: 24px;
  }
  .projects__title {
    font-size: 22px;
  }
}

@media (max-width: 440px) {
  .intro__para {
    display: none;
  }
  .picture__wrapper {
    width: 125px;
    height: 125px;
  }
  .footer__copyright {
    font-size: 14px;
  }
}

@media (max-width: 406px) {
  .intro__title {
    font-size: 50px;
  }
  
}